* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Roboto", serif;
}
body {
  background-color: rgb(241, 239, 232, 1);
}
.container {
  background-color: rgb(241, 239, 232, 1);
  padding: 2%;
  margin: 0 auto;
}
.navbar {
  width: 95%;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
}
/* Style for header start */
.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.logo img {
  width: 100%;
  max-width: 60px;
  display: block;
}
.nav-links {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
  width: 80%;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.nav-links li,
#mobileNav li {
  list-style: none;
}
.nav-links a,
#mobileNav li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  font-weight: 400;
  line-height: 18.26px;
  letter-spacing: 0.02em;
}
.get-in-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.get-in-btn a,
.header-btn {
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px solid rgba(230, 58, 36, 1);
  background-color: rgba(230, 58, 36, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
  line-height: 18.26px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.handburger {
  width: 5%;
  display: none;
  justify-content: flex-end;
  align-items: center;
  /* background-color: blue; */
}
.overlay {
  position: fixed;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  z-index: 99;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  justify-content: flex-end;
}
#mobileNav {
  background-color: #fff;
  display: none;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;
}
#mobileNav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-links .active,
#mobileNav .active {
  color: rgba(230, 58, 36, 1);
  font-weight: 500;
}
.cancel-button {
  width: 66%;
  display: flex;
  justify-content: flex-end;
}
.navbar .fa {
  display: block;
  color: rgba(230, 58, 36, 1);
  font-size: 1.5rem;
  cursor: pointer;
}

/* header end */
/* Responsiveness for Header start */
@media (min-width: 700px) and (max-width: 1200px) {
  .navbar {
    width: 90%;
  }
  .navHeader {
    padding: 1rem 3rem;
  }
  .nav-links ul {
    width: 75%;
    gap: 2rem;
  }
  .nav-links a {
    font-size: 0.875rem;
  }
  .get-in-btn a {
    padding: 10px 12px;
  }
}

@media (max-width: 700px) {
  .navbar {
    width: 100%;
  }
  .navHeader {
    padding: 1rem 1.5rem;
  }
  .nav-links {
    display: none;
  }
  .handburger {
    display: flex;
  }
  #mobileNav {
    display: flex;
  }
}
/* Responsiveness for Header end */
/* style for Banner start */

.banner {
  width: 95%;
  margin: auto;
  background-color: rgba(9, 11, 16, 0.74);
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.banner h1 {
  font-size: 3.375rem;
  font-weight: 600;
  line-height: 63.67px;
  color: rgba(251, 251, 248, 1);
  text-align: center;
  letter-spacing: -0.04em;
}

.banner h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 37.73px;
  color: rgba(245, 245, 245, 1);
  text-align: center;
  letter-spacing: -0.04em;
}
/* Banner ends */
/* Hero section starts */
.hero-container {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 4% 0;
  background-color: rgba(255, 255, 255, 1);
}
.hero-container h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 44.8px;
  color: rgba(9, 11, 16, 0.8);
  margin-bottom: 2%;
}
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4%;
}
.hero img {
  border-radius: 10px;
}
.hero .lorry, .hero .epayment{
  width: 23%;
}
.hero .tourist{
  width: 33%;
}

.hero-btn {
  text-decoration: none;
  border: 2px solid rgba(230, 58, 36, 1);
  padding: 16px 24px;
  border-radius: 12px;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  font-weight: 400;
  line-height: 18.87px;
  cursor: pointer;
  letter-spacing: -0.04em;
}
.hero-btn:hover {
  background-color: rgba(230, 58, 36, 1);
  transition: 1s;
  color: rgba(255, 255, 255, 1);
}
/* Hero section end */

/* Responsiveness for banner and hero section start */
@media (min-width: 700px) and (max-width: 1200px) {
  .banner {
    width: 90%;
    padding: 3% 0;
  }
  .banner h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
  .banner h3 {
    font-size: 1.5rem;
    line-height: 35px;
  }
  .hero-container {
    width: 90%;
    pad: 3% 0;
  }

  .hero img {
    height: auto;
  }
  .hero .lorry, .hero .epayment{
    width: 25%;
  }
  .hero .tourist{
    width: 40%;
  }
  .hero-btn {
    padding: 14px 22px;
    font-size: 0.9rem;
  }
}
@media (max-width: 700px) {
  .banner {
    width: 100%;
    padding: 5% 0;
    gap: 3.44px;
  }
  .banner h1 {
    font-size: 1.3rem;
    line-height: 28.3px;
  }
  .banner h3 {
    font-size: 0.8rem;
    line-height: 18.87px;
  }
  .hero-container {
    width: 100%;
    padding: 8% 0;
    margin-top: 4%;
  }
  .hero-container h3 {
    font-size: 1.5rem;
    line-height: 33.6px;
  }
  .hero {
    margin-bottom: 8%;
  }
  .hero img {
    border-radius: 6px;
  }
  .hero .lorry, .hero .epayment{
    width: 60%;
  }
  .hero .tourist {
    width: 70%;
  }
  .hero-btn {
    padding: 10px;
  }
}

/* Responsiveness for banner and hero section end */
/* Key Services start */

.service,
.product,
.choice,
.plan,
.testimonial {
  width: 95%;
  margin: auto;
  text-align: center;
}
.service,
.product,
.plan {
  padding: 3% 0;
}
.service,
.choice,
.plan {
  background-color: rgba(255, 255, 255, 1);
}
.product {
  background-color: rgba(251, 250, 247, 0.84);
}
.service,
.product,
footer {
  margin-top: 2%;
}
.service h2,
.product h2,
.choice h2,
.plan h2,
.testimonial h2 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 42.45px;
  color: rgba(9, 11, 16, 1);
  letter-spacing: -0.04em;
}
.service h2,
.product h2,
.testimonial h2 {
  margin-bottom: 2%;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.services-col {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 14px;
}

.services-col img,
.product-col img {
  border-radius: 10px;
  object-fit: cover;
}

.services-col img {
  width: 200px;
  height: 140px;
}

.services-col h6,
.product-col h6,
.global h6 {
  font-size: 1.2rem;
  line-height: 23.58px;
  font-weight: 400;
  color: rgba(9, 11, 16, 0.8);
  letter-spacing: -0.04em;
}

.services-col p,
.product-col p,
.global p,
.choice p {
  letter-spacing: -0.04em;
}

.services-col p {
  font-size: 0.875rem;
  line-height: 16.51px;
  font-weight: 400;
  color: rgba(9, 11, 16, 0.7);
}

.carousel-container {
  display: none;
}

/* Key Services Responsiveness for mobile view start */

@media (min-width: 700px) and (max-width: 1200px) {
  .service,
  .product,
  .choice,
  .plan,
  .testimonial {
    width: 90%;
  }
  .service h2,
  .product h2,
  .choice h2,
  .plan h2 {
    font-size: 2rem;
  }
  .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services-col {
    flex-basis: 45%;
    margin-bottom: 20px;
  }
  .services-col img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 700px) {
  .service {
    display: none;
  }
  .carousel-container {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 4%;
    padding: 7% 0;
  }
  .carousel-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 33.6px;
    color: rgba(9, 11, 16, 0.8);
  }
  .carousel-container img {
    width: 70%;
    border-radius: 6px;
  }
  .carousel-text {
    text-align: center;
  }
  .carousel-text h6 {
    font-size: 1.375rem;
    line-height: 25.94px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 5px;
  }
  .carousel-text p {
    width: 75%;
    margin-left: 12%;
    font-size: 1.25rem;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: rgba(9, 11, 16, 0.8);
  }
  .indicator .dot {
    height: 10px;
    width: 10px;
    background-color: rgba(191, 192, 194, 1);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  .dot.active {
    background-color: rgba(69, 70, 72, 1);
  }
}

/* Key Services Responsiveness for mobile view end */

/* Key Services end */

/* Premium product start */
.product-col {
  flex-basis: 35%;
  margin: 0 12px;
  padding: 35px;
}

.product-col img {
  width: 230px;
  height: 170px;
}

.product-col p {
  font-size: 0.8rem;
  line-height: 18.74px;
  font-weight: 400;
  color: rgba(9, 11, 16, 0.7);
}

/* Product Responsiveness for mobile view start */

@media (min-width: 700px) and (max-width: 1200px) {
  .product-col {
    flex-basis: 45%;
    padding: 20px;
  }
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .product {
    width: 100%;
    margin-top: 4%;
    padding: 8% 0;
  }
  .product h2 {
    font-size: 1.5rem;
    line-height: 33.6px;
    font-weight: 600;
  }
  .product-col h6 {
    font-size: 1rem;
    line-height: 25.94px;
  }
  .product-col p {
    font-size: 0.875rem;
    line-height: 16.51px;
  }
}

/* Product Responsiveness for mobile view end */
/* Premium product end */

/* Choice starts */

.choice,
.plan {
  margin-top: 4%;
}

.choice {
  padding-bottom: 0;
  padding-top: 2%;
}

.choice p {
  font-size: 1.5rem;
  line-height: 28.3px;
  font-weight: 400;
  color: rgba(9, 11, 16, 0.8);
}

.choice-col {
  display: flex;
  flex-basis: 31%;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.global {
  text-align: left;
  margin-top: 8%;
}

.global p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 18.87px;
  color: rgba(9, 11, 16, 0.8);
  padding-top: 1%;
}

.global img {
  width: 170px;
  margin-top: -45px;
}

.choice-col img {
  height: 110px;
}

/* Choice Responsiveness for mobile view start */

@media (min-width: 700px) and (max-width: 1200px) {
  .choice-col {
    flex-basis: 45%;
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .choice {
    width: 100%;
    padding-bottom: 2%;
  }
  .choice-col {
    flex-direction: column-reverse;
    text-align: center;
  }
  .choice h2 {
    font-size: 1.5rem;
    line-height: 33.6px;
    font-weight: 600;
    padding-top: 5%;
  }
  .choice p {
    font-size: 1rem;
    line-height: 18.87px;
  }
  .choice-col img {
    height: 100%;
  }
  .global h6 {
    font-size: 1.125rem;
    text-align: center;
  }
  .global p {
    font-size: 1rem;
    line-height: 18.87px;
  }
  .global img {
    display: none;
  }
}

/* Choice Responsiveness for mobile view end */
/* Choice ends */
/* Testimonial starts */

.testimonial p {
  width: 50%;
  font-size: 1.25rem;
  line-height: 26px;
  font-weight: 500;
  color: rgba(9, 11, 16, 0.7);
  margin-bottom: 4%;
  margin-left: 25%;
  letter-spacing: 0.01em;
}

.scroll-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
}

.scroll-images {
  display: flex;
  animation: scroll-horizontal 10s linear infinite;
}

.scroll-images .testimonial-col {
  padding: 0.8rem;
  margin: 0 0.625rem;
  border-radius: 16px;
  background: rgba(251, 251, 248, 1);
  border-left: 1px solid rgba(9, 11, 16, 0.2);
  border-right: 1px solid rgba(9, 11, 16, 0.2);
  display: flex;
  gap: 10px;
  text-align: left;
}

.testimonial-col span {
  font-size: 0.87rem;
  font-style: italic;
  font-weight: 400;
  line-height: 16.97px;
  color: rgba(0, 0, 0, 0.6);
  width: 163px;
  letter-spacing: 0.01em;
}

.testifier {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testifier-name h6 {
  margin-top: 0.75rem;
  font-size: 1.15rem;
  line-height: 24.24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.01em;
}

.testifier-name p {
  font-size: 0.85rem;
  line-height: 13.97px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin: 0.25rem 0;
  letter-spacing: 0.01em;
  width: 100%;
}

.image img {
  border-radius: 100%;
  margin-right: 10px;
  box-shadow: 0px 23px 30px 0px rgba(230, 58, 36, 0.25);
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Testimonial Responsiveness for mobile and tablet view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .testimonial {
    padding: 20px 5%;
  }
  .testimonial h2 {
    font-size: 1.625rem;
  }
  .testimonial p {
    font-size: 0.9375rem;
  }
  .scroll-images {
    gap: 10px;
  }
  .scroll-images .testimonial-col {
    width: 46%;
    padding: 18px;
    text-align: center;
  }
  .testimonial-col span {
    font-size: 0.7875rem;
  }
  .testifier .image img {
    height: 140px;
  }
  .testifier-name h6 {
    font-size: 0.9375rem;
  }
  .testifier-name p {
    font-size: 0.7875rem;
    line-height: 10px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .testimonial {
    width: 100%;
    /* padding: 15px; */
  }
  .testimonial h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .testimonial p {
    width: 100%;
    margin-left: -2%;
    font-size: 0.875rem;
    line-height: 1.4;
  }
  .scroll-images .testimonial-col {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    flex-direction: column;
    text-align: center;
  }
  .testimonial-col span {
    font-size: 0.75rem;
  }
  .testifier {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .testifier .image img {
    height: 40px;
    margin-bottom: 5px;
  }
  .testifier-name h6 {
    font-size: 0.875rem;
  }
  .testifier-name p {
    font-size: 0.625rem;
  }
}

/* Testimonial Responsiveness for mobile and tablet view end */
/* Testimonial ends */

/* Style for plan starts */

.plan h2 {
  margin-top: -2%;
}

.plan-row {
  padding: 0 2%;
}

.plan-col {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-basis: 30%;
  text-align: left;
  padding: 0.6%;
  margin-top: 1%;
}

.plan-col p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.04em;
}

.plan-col p span {
  font-size: 1rem;
  line-height: 20.8px;
}

.plan-col img {
  width: 100%;
  object-fit: cover;
}

.book {
  display: flex;
  gap: 37px;
  padding: 0 2.5%;
  margin-top: -2%;
}

.book p {
  font-size: 1.25rem;
  line-height: 23.58px;
  font-weight: 400;
  margin-top: 9px;
  letter-spacing: -0.04em;
}

.book p span {
  font-weight: 600;
  color: rgba(230, 58, 36, 1);
}

.book-btn {
  display: flex;
  gap: 8px;
  border: 0.4px solid rgba(230, 58, 36, 1);
  padding: 14px 24px;
  border-radius: 12px;
  background-color: rgba(230, 58, 36, 1);
  cursor: pointer;
}

.book-btn a {
  text-decoration: none;
  color: rgba(245, 245, 245, 1);
  font-size: 1.125rem;
  line-height: 21.6px;
  font-weight: 600;
}

/* Plan Responsiveness for mobile view start */

@media (min-width: 700px) and (max-width: 1200px) {
  .plan-col {
    flex-basis: 45%;
  }
  .book {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .book-btn {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .plan{
    width: 100%;
  }
  .plan h2 {
    font-size: 1.5rem;
    line-height: 33.6px;
    font-weight: 600;
    padding-top: 6%;
  }
  .plan-col {
    align-items: center;
    margin-top: 8%;
  }
  .plan-col img {
    width: 75%;
  }
  .plan-col p {
    width: 76%;
    font-size: 1rem;
  }
  .plan-col p span {
    font-size: 0.875rem;
  }
  .book {
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .book p {
    font-size: 1rem;
  }
  .book-btn {
    padding: 10px 16px;
    margin-bottom: 4%;
  }
  .book-btn a {
    font-size: 0.875rem;
  }
  .book-btn img {
    height: 10px;
    margin-top: 7px;
  }
}

/* Plan Responsiveness for mobile view end */

/* plan ends */

/* Call to action starts */

.cta {
  width: 95%;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url(./images/partnerImg.svg);
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  text-align: center;
}

.cta h1 {
  font-size: 3rem;
  line-height: 56.6px;
  font-weight: 600;
  margin-bottom: 40px;
  padding: 0;
  color: rgba(9, 11, 16, 1);
  letter-spacing: -0.04em;
}

/* Call to action Responsiveness for mobile view start */

@media (min-width: 700px) and (max-width: 1200px) {
  .cta {
    width: 90%;
    padding: 60px 0;
  }
  .cta h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

@media (max-width: 700px) {
  .cta{
    width: 100%;
  }
  .cta h1 {
    font-size: 1.8rem;
    line-height: 33.6px;
  }
}

/* Call to action Responsiveness for mobile view end */

/* Call to action end */
/* Footer start */
footer {
  background-color: rgba(230, 58, 36, 1);
}

.footer-row {
  padding: 2% 16%;
}

.foot-one {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.footer-logo img {
  background-color: rgba(251, 251, 248, 1);
  width: 100%;
  height: 43.31px;
}

.footer-socials,
.footer-nav,
.support,
.email,
.email-col,
.phone-row {
  display: flex;
}

.footer-socials {
  gap: 28px;
}

footer h5 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 27px;
}

.footer-nav,
.support,
.email,
.email-col {
  flex-direction: column;
}

.footer-nav {
  gap: 24px;
}

.footer-nav a {
  text-decoration: none;
}

.footer-nav a,
footer p {
  font-size: 0.875rem;
  font-weight: 18.2px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.support {
  gap: 40px;
}

.email {
  gap: 17px;
}

.email-col {
  gap: 6px;
}

.phone-row {
  gap: 45px;
}

.copy-right h5 {
  text-align: center;
  margin-top: -4%;
  padding-bottom: 2%;
}

/* Footer responsiveness starts */
@media (min-width: 700px) and (max-width: 1200px) {
  footer {
    padding: 4% 6%;
  }
  .footer-row {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    gap: 60px;
  }
  .foot-one {
    gap: 15px;
  }
  
  .footer-socials {
    gap: 15px;
  }
  .footer-nav {
    gap: 20px;
  }
  .support {
    gap: 30px;
  }
  .email {
    gap: 14px;
  }
  .phone-row {
    gap: 30px;
  }
  .copy-right h5 {
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  .footer-row {
    padding: 5% 8%;
    text-align: center;
    gap: 18px;
  }

  .foot-one {
    gap: 30px;
  }
  .footer-socials {
    justify-content: center;
    gap: 15px;
  }

  .footer-nav,
  .support,
  .email,
  .email-col {
    align-items: center;
  }
  .footer-nav {
    gap: 15px;
    margin-bottom: 2%;
  }

  .phone-row {
    flex-direction: column;
    gap: 20px;
  }

  .copy-right h5 {
    margin-top: 0;
    font-size: 1rem;
    padding-bottom: 4%;
  }
}

/* Footer responsiveness end */

/* Footer end */

/* About start */
.about,
.mission,
.story,
.whatWedo,
.joinUs,
.ourService,
.whyChoose,
.getStarted {
  width: 95%;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 0 1px 0;
  margin-top: 5%;
}

.marginTop {
  padding-top: 6%;
}

.welcome-col,
.vision-col,
.story-col,
.whatWedo-col,
.joinUs-col,
.ourService-col,
.whyChoose-col,
.getStarted-col {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.welcome-col,
.story-col,
.whatWedo-col,
.ourService-col {
  flex-basis: 35%;
  margin: 12px 55px;
}

.welcome-col h3,
.vision-col h3,
.story-col h3,
.whatWedo-col h3,
.joinUs-col h3,
.ourService-col h3,
.whyChoose-col h3,
.getStarted-col h3,
.contactUs h3 {
  font-size: 2.5rem;
  line-height: 52px;
  font-weight: 600;
  color: rgba(9, 11, 16, 1);
  letter-spacing: 0.02em;
}

.welcome-col p,
.vision-col p,
.story-col p,
.joinUs-col p {
  font-size: 1rem;
  line-height: 18.87px;
  font-weight: 400;
  color: rgba(9, 11, 16, 0.8);
}

.vision-col p,
.story-col p,
.joinUs-col p,
.whyChoose-col p {
  letter-spacing: 0.02em;
}

.welcome-col p {
  letter-spacing: -0.04em;
}

/* Responsiveness for tablet and mobile view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .about,
  .mission,
  .story,
  .whatWedo,
  .joinUs,
  .ourService,
  .whyChoose,
  .getStarted {
    width: 90%;
    padding: 25px 0;
    margin-top: 5%;
  }
  .welcome-col,
  .story-col,
  .whatWedo-col,
  .ourService-col {
    flex-basis: 80%;
    margin: 12px;
  }
  .welcome-col h3,
  .vision-col h3,
  .story-col h3,
  .whatWedo-col h3,
  .joinUs-col h3,
  .ourService-col h3,
  .whyChoose-col h3,
  .getStarted-col h3,
  .contactUs h3 {
    font-size: 2rem;
    line-height: 32px;
  }
  .welcome-col p,
  .vision-col p,
  .story-col p,
  .joinUs-col p,
  .whyChoose-col p,
  .ourService-col p {
    text-align: justify;
  }
}

@media (max-width: 700px) {
  .about,
  .mission,
  .story,
  .whatWedo,
  .joinUs,
  .ourService,
  .whyChoose,
  .getStarted {
    width: 100%;
    padding: 20px 0;
    margin: 8% auto;
  }
  .welcome-col,
  .story-col,
  .whatWedo-col,
  .ourService-col {
    margin: 20px;
  }
  .welcome-col h3,
  .vision-col h3,
  .story-col h3,
  .whatWedo-col h3,
  .joinUs-col h3,
  .ourService-col h3,
  .whyChoose-col h3,
  .getStarted-col h3,
  .contactUs h3 {
    font-size: 2rem;
    line-height: 40px;
  }
  .welcome-col p,
  .vision-col p,
  .story-col p,
  .joinUs-col p,
  .whyChoose-col p,
  .ourService-col p {
    font-size: 0.875rem;
    line-height: 18px;
    text-align: justify;
  }
}

/* Responsiveness for tablet and mobile view end */

/* Mission/Vision style starts */

.vision-col {
  flex-basis: 45.8%;
  margin: 12px 32px;
}

/* Mission/Vision style ends */
/* What we do starts */
.whatWedo-col p,
.whyChoose-col p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 23.4px;
  letter-spacing: 0.02em;
}
.whatWedo-col p span,
.whyChoose-col p span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
  color: rgba(9, 11, 16, 0.8);
}
/* What we do ends */

/* Join us starts */
.joinUs {
  margin-bottom: -20px;
}
.joinUs-col {
  flex-basis: 38%;
  margin: 25px 50px;
}
.joinUs-col h5 {
  font-size: 0.96rem;
  line-height: 20.8px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-top: 2%;
  margin-bottom: -8%;
  color: rgba(9, 11, 16, 0.8);
}
/* Join us ends */

/* Responsiveness for tablet and mobile view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .vision-col {
    flex-basis: 80%;
    margin: 12px 15px;
    text-align: justify;
  }
  .joinUs-col {
    flex-basis: 80%;
    margin: 12px;
  }
}
@media (max-width: 700px) {
  .whatWedo-col p,
  .whyChoose-col p {
    font-size: 0.875rem;
  }
  .whatWedo-col p span,
  .whyChoose-col p span {
    font-size: 0.7rem;
  }
  .joinUs-col {
    margin: 10px 20px;
  }
  .joinUs-col h5 {
    font-size: 0.6rem;
  }
}

/* Responsiveness for tablet and mobile view end */
/* About ends */

/* Our service & product starts */
.ourService {
  margin-top: 1%;
}
.ourProduct {
  width: 95%;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
}
.ourProduct-row {
  margin: 0 8%;
  gap: 40px;
  padding-bottom: 2%;
}
.prod {
  width: 45%;
  border: 1px solid rgba(160, 153, 153, 1);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 40px;
}
.prod-image {
  border: 1px solid rgba(230, 58, 36, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-content: center;
  padding: 10px;
  position: absolute;
  top: -24px;
  background-color: #fff;
}
.prod-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 25px;
}
.prod-content h6 {
  font-size: 1.125rem;
  line-height: 23.4px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgba(9, 11, 16, 1);
}
.prod-content p {
  font-size: 1rem;
  line-height: 20.8px;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: rgba(9, 11, 16, 0.8);
}
.learn-btn {
  padding: 20px 0 0 30px;
}
.learn-btn a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 18.87px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: rgba(230, 58, 36, 0.8);
}
.learn-btn img {
  height: 10px;
}
.ourProductCarousel {
  background-color: #fff;
  display: none;
}

/* Responsiveness for tablet and mobile view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .ourProductCarousel {
    display: inline;
    width: 90%;
  }
  .prod {
    width: 75%;
    margin: 5% auto;
    background-color: rgba(255, 255, 255, 1);
  }
  .proIndicator {
    display: inline;
  }
  .ourProduct {
    display: none;
  }
}
@media (max-width: 700px) {
  .ourProductCarousel {
    display: inline;
    width: 100%;
  }
  .prod {
    width: 65%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 1);
  }
  .proIndicator {
    margin-left: 40%;
  }
  .ourProduct {
    display: none;
  }
}

/* Responsiveness for tablet and mobile view end */
/* Our service & product ends */

/* Why Choose starts */
.whyChoose-col {
  flex-basis: 46%;
}
.whyChoose {
  margin-top: 2.5%;
}
.whyChoose-row {
  margin-bottom: 0;
  margin: 12px 55px;
}

.whyChoose-col img {
  width: 100%;
  padding-top: 10%;
}

/* Responsiveness for tablet and mobile view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .whyChoose-col {
    flex-basis: 95%;
  }
}
@media (max-width: 700px) {
  .whyChoose-col {
    flex-basis: 95%;
    margin: 0 -32px;
  }
}

/* Responsiveness for tablet and mobile view end */

/* Why Choose ends */

/* Get Started starts */
.getStarted {
  margin-top: 2.5%;
  margin-bottom: -1%;
}
.getStarted-col {
  flex-basis: 36%;
  margin: 0 55px;
}
.getStarted-col p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.02em;
  color: rgba(9, 11, 16, 0.8);
}
.getStarted-content {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.getStarted-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.getStarted-contact a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.02em;
  color: rgba(9, 11, 16, 0.8);
}

/* Responsiveness for tablet and mobile view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .getStarted-col {
    flex-basis: 80%;
    margin: 12px 0;
  }
}
@media (max-width: 700px) {
  .getStarted-col {
    margin: 20px;
  }
}

/* Responsiveness for tablet and mobile view end */
/* Get Started ends */
/* Style for Contact us Page starts */
/* Contact us starts */

.contactUs {
  width: 41%;
  margin: 3% auto;
  padding: 2% 3%;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.contactUs p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
}

/* Responsiveness for tablet and mobile view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .contactUs {
    width: 60%;
    padding: 3% 4%;
    margin-top: 5%;
  }
}

@media (max-width: 700px) {
  .contactUs {
    width: 80%;
    padding: 5%;
    margin: 5%;
  }
  .contactUs p {
    font-size: 0.875rem;
  }
}

/* Responsiveness for tablet and mobile view end */
/* Contact us ends */
/* Contact address starts */
.contact-add {
  width: 95%;
  margin: auto;
  margin-bottom: 4%;
  display: flex;
  gap: 103px;
}
.left {
  background-color: rgba(255, 255, 255, 1);
  width: 46.5%;
}
.office {
  display: flex;
  gap: 23px;
  padding: 6%;
}
.location img {
  border: 1px solid rgba(230, 58, 36, 0.5);
  padding: 16px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.office-address h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20.8px;
  color: rgba(9, 11, 16, 1);
}
.office-address p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: rgba(9, 11, 16, 0.8);
}
.office-address span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: rgba(9, 11, 16, 0.5);
}
.left-col {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.left-col p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20.8px;
  color: rgba(0, 0, 0, 0.8);
}
.left-socials ul li {
  margin-top: 8px;
  margin-left: 24px;
}

/* Contact address ends */
/* Contact Form starts */
.right {
  width: 47%;
  position: relative;
}
.right form {
  width: 100%;
}
.right input,
.right textarea {
  width: 100%;
  padding: 15px 14px;
  margin-bottom: 28px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
.right textarea {
  margin-top: 40px;
}

.right input::placeholder {
  color: #ccc;
}
.right textarea::placeholder {
  color: #ccc;
}
/* styling the asterisks inside placeholder using JavaScript */

.required::placeholder::before {
  content: attr(placeholder);
  color: inherit;
}

.required.red-asterisk::after {
  content: " *";
  color: red;
}

.required:focus::after {
  content: "";
}


/* Style for right whatsapp Start */
.right-whatsapp {
  display: flex;
  gap: 10px;
  top: 92.5%;
  left: 82%;
  position: fixed;
}

#sappText {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 8px;
  color: rgba(0, 138, 13, 1);
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}

/* Style for right whatsapp end */

/* Contact Form ends */

/* Responsiveness for tablet and mobile view start */
@media (min-width: 700px) and (max-width: 1200px) {
  .contact-add {
    flex-wrap: wrap;
  }
  .left,
  .right {
    width: 95%;
    margin: 12px;
  }
  .right-whatsapp {
    left: 77%;
  }
}

@media (max-width: 700px) {
  .contact-add {
    flex-direction: column;
    gap: 20px;
  }
  .left,
  .right {
    width: 100%;
  }
  .right-whatsapp {
    left: 53%;
  }
  .office {
    gap: 10px;
    padding: 4%;
  }
  .office-address h6,
  .office-address p,
  .office-address span,
  .left-col p {
    font-size: 0.875rem;
  }
  .location img {
    padding: 8px;
    height: 10px;
    width: 10px;
  }
  .left-col {
    padding: 5%;
  }
  .left-socials ul li {
    font-size: 0.875rem;
    margin-top: 4px;
  }
  .left-socials ul li a {
    font-size: 0.875rem;
    text-decoration: none;
  }
}

/* Responsiveness for tablet and mobile view end */
/* Style for Contact Page ends */
